<app-toolbar></app-toolbar>

<mat-tab-group>
    <mat-tab label="Reservar">
      <br><br> 
      <form class="row g-3 " (ngSubmit)="gaveData(formTemplate)" #formTemplate="ngForm">
        <div class="row">
          <div class="col-md-6">
            <label for="inputNombre" class="form-label">Nombre</label>
            <input type="text" pattern="[a-z]" class="form-control" id="inputNombre"  name="nombre" ngModel required #name="ngModel">
            <span style="color: red;" [hidden]="name.valid || name.pristine">*Campo requerido, solo letras[a-z]</span>
          </div>
          <div class="col-md-6">
            <label for="inputApellido" class="form-label">Apellido</label>
            <input type="text" pattern="[a-z]" class="form-control" id="inputApellido" name="apellido" ngModel required #apellido="ngModel">
            <span style="color: red;" [hidden]="apellido.valid || apellido.pristine">*Campo requerido, solo letras[a-z]</span> 
          </div>
        </div>
       <br>
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-6">
            <label for="inputFuncion" class="form-label">Función</label>
            <select id="inputFuncion" class="form-select" name="funcion" ngModel required #funcion="ngModel">
              <option selected>Eliga una función...</option>
              <option value="La bella y la bestia - 2D">La bella y la bestia - 2D - horaDesde -horaHasta - sala</option>
            </select>
            <span style="color: red;" [hidden]="funcion.valid || funcion.pristine">*Campo requerido</span>
          </div>
          <!--<div class="col-md-4">
            <label for="inputButacas" class="form-label">Butacas</label>
            <br/>
            <button type="button" class="btn btn-outline-dark btn-sm" [disabled]="funcion.invalid">agregar</button>
            <span style="color: red;" [hidden]="asientos.valid || asientos.pristine">*Campo requerido</span>
          </div>-->
          <div class="col-md-6">
            <label for="inputEdad" class="form-label">Edad</label>
            <input type="number" min="1" max="100" class="form-control" id="inputEdad" name="edad" ngModel required #edad="ngModel">
            <span style="color: red;" [hidden]="edad.valid || edad.pristine">*Campo requerido y numerico</span>
          </div>
        </div>
        
        <div class="row" *ngIf="funcion.valid" style="border: 2px solid black;
        border-radius: 5px; margin-left: 5px; margin-top: 15px; margin-right: 5px;">
          <div class="col-md-12">
            <app-butacas-grid [idFuncion]=1></app-butacas-grid>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="price" class="form-label"> Precio</label>
            <input id="price" type="text" class="form-control" disabled>
          </div>
          <div class="col-md-6">
            <label for="totalPrice" class="form-label"> Precio Total</label>
            <input id="totalPrice" type="text" class="form-control" disabled>
          </div>
        </div>
      
        <div class="row" style="margin-top: 25px;">
        <div class="col-md-4">
          <button type="submit" class="btn btn-primary" [disabled]="formTemplate.invalid">Agregar</button>
        </div>
        </div>

      </form>
      <pre>{{formTemplate.value | json}}</pre>
      
      <!--<form id="contactForm" [formGroup]="form" (ngSubmit)="guardarDatos()">
        <mat-form-field>
          <input matInput placeholder="firstname" class="form-control"  name="firstname">
          
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="lastname" class="form-control"  name="lastname">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="email" class="form-control"  name="email">
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea rows="4" cols="50" matInput placeholder="message" class="form-control"  name="message"></textarea>
        </mat-form-field>
        <br>
        <button id="btnSubmit" mat-raised-button type="submit" color="primary">Submit</button>
        </form>

        <strong>{{form.value.firstname}} </strong>
        <br>
        <strong>{{form.value.lastname}} </strong>
        <br>
        <strong>{{form.value.email}} </strong>
        <br>
        <strong>{{form.value.message}} </strong>-->
      <!-- Button trigger modal -->



    </mat-tab>
<!-------------------------------------------------------------------------------->
    <mat-tab label="Listar funciones disponibles"> 
      <br><br>
      <p>filtro todos | hoy</p>
      <app-enable-movie-screening></app-enable-movie-screening>
    </mat-tab>
<!------------------------------------------------------------------------------->    
    <mat-tab label="Listar entradas vendidas">
      <br><br>
      <p>filtro todos | hoy</p>
      <app-list-ticket-sold></app-list-ticket-sold>
    </mat-tab>
  </mat-tab-group>

  <app-footer></app-footer>
