<app-toolbar></app-toolbar>

<mat-tab-group>
    <mat-tab label="Reservar">
      <br><br> 
      <form class="row g-3 " (ngSubmit)="guardarDatos(formTemplate)" #formTemplate="ngForm">
        <div class="row">
          <div class="col-md-6">
            <label for="inputNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputNombre"  name="nombre" [(ngModel)]="nombre">
            <p *ngIf="alerNombre" style="color: red;">*Campo obligatorio</p>
          </div>
          <div class="col-md-6">
            <label for="inputApellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="inputApellido" name="apellido" [(ngModel)]="apellido">
            <p *ngIf="alerApellido" style="color: red;">*Campo obligatorio</p>
          </div>
      </div>
       <br>
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-4">
            <label for="inputFuncion" class="form-label">Función</label>
            <select id="inputFuncion" class="form-select" name="funcion" [(ngModel)]="funcion">
              <option selected>Eliga una función...</option>
              <option value="La bella y la bestia - 2D">La bella y la bestia - 2D - horaDesde -horaHasta - sala</option>
            </select>
            <p *ngIf="alerFuncion" style="color: red;">*Campo obligatorio</p>
          </div>
          <div class="col-md-4">
            <label for="inputButacas" class="form-label">Butacas</label>
            <select id="inputButacas" class="form-select">
              <option [value]="butaca" *ngFor="let butaca of butacas " (click)="agregarButaca(butaca)">{{butaca}}</option>
            </select>
            <p *ngIf="alerButaca" style="color: red;">*Campo obligatorio</p>
          </div>
          <div class="col-md-4">
            <label for="button" class="form-label">Butacas elegidas</label>
            <div class="row">
              <div class="col-md-2">
                <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#verButacasElegidas">
                  Ver
                </button>
              </div>
              <div class="col-md-2">
              <button type="button" class="btn btn-outline-dark btn-sm" (click)="clearButacasElegidas()">Eliminar</button>
             </div>
             <div class="col-md-2">
              <button type="button" class="btn btn-outline-dark btn-sm">Ubicaciones</button>
              </div>
            </div>
          </div>
        </div>
        
      
        <div class="row" style="margin-top: 25px;">
        <div class="col-md-4">
          <button type="submit" class="btn btn-primary">Agregar</button>
          <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ConfirmarModal" *ngIf="showDetalle">Detalle</button>
        </div>
        </div>

      </form>
      <!--<form id="contactForm" [formGroup]="form" (ngSubmit)="guardarDatos()">
        <mat-form-field>
          <input matInput placeholder="firstname" class="form-control"  name="firstname">
          
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="lastname" class="form-control"  name="lastname">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="email" class="form-control"  name="email">
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea rows="4" cols="50" matInput placeholder="message" class="form-control"  name="message"></textarea>
        </mat-form-field>
        <br>
        <button id="btnSubmit" mat-raised-button type="submit" color="primary">Submit</button>
        </form>

        <strong>{{form.value.firstname}} </strong>
        <br>
        <strong>{{form.value.lastname}} </strong>
        <br>
        <strong>{{form.value.email}} </strong>
        <br>
        <strong>{{form.value.message}} </strong>-->
      <!-- Button trigger modal -->



    </mat-tab>
<!-------------------------------------------------------------------------------->
    <mat-tab label="Listar funciones disponibles"> 
      <br><br>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Pelicula</th>
            <th scope="col">Sala</th>
            <th scope="col">Tipo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>@Fecha</td>
            <td>@Pelicula</td>
            <td>@Sala</td>
            <td>@Tipo</td>
          </tr>
        </tbody>
      </table>

    </mat-tab>
<!------------------------------------------------------------------------------->    
    <mat-tab label="Listar entradas vendidas">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Función</th>
            <th scope="col">Cliente</th>
            <th scope="col">Fila</th>
            <th scope="col">Columna</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>@Fecha_Función</td>
            <td>@Nombre</td>
            <td>@Numero</td>
            <td>@Numero</td>
          </tr>
        </tbody>
      </table>
    </mat-tab>
  </mat-tab-group>

  <app-footer></app-footer>

  
          <!-- Modal -->
          <div class="modal fade" id="ConfirmarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Confirmar</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="color: black;">
                  <p>Apellido y nombre: <strong>{{apellido + ", " +nombre}}</strong> </p>
                  <p>Funcion: <strong>{{funcion}}</strong></p>
                  <label>Butacas elegidas: <span *ngFor="let b of butacasElegidas"><strong>{{b+" "}}</strong></span></label>
                  <p>Precio Total: <strong>{{precioTotal}}</strong></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-success"  data-bs-dismiss="modal">Confirmar</button>
                </div>
              </div>
            </div>
            </div>

<!-- Modal -->
<div class="modal fade" id="verButacasElegidas" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label>Butacas elegidas: <span *ngFor="let b of butacasElegidas"><strong>{{b+" "}}</strong></span></label>
      </div>
    </div>
  </div>
</div>
            