<!--<app-toolbar></app-toolbar>-->

<br><br>
        <div class="accordion" id="accordionPanelsStayOpenExample">

          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Agregar una película
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body">
                <app-add-movie></app-add-movie>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Listar Películas
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body">
                <button type="button" class="btn btn-primary">Actualizar lista</button>
                <hr>
                <app-list-movie></app-list-movie>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Agregar una función
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
               <!--Agregar función-->
               <app-add-movie-screening></app-add-movie-screening>
                         
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                Listar funciones
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
              <div class="accordion-body">
                <app-enable-movie-screening></app-enable-movie-screening>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                Listar entradas
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
              <div class="accordion-body">
                <app-list-ticket-sold></app-list-ticket-sold>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                Agregar Usuario
              </button>
            </h2>
            <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
              <div class="accordion-body">
                <app-add-user></app-add-user>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
                Listar Usuarios
              </button>
            </h2>
            <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
              <div class="accordion-body">
                <app-list-user></app-list-user>
              </div>
            </div>
          </div>


        </div>
      </div>

      <!-- Modal -->
<div class="modal fade" id="modificarPeliculas" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Datos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="titulo" class="form-label">Titulo</label>
          <input type="text" class="form-control" id="titulo">
        
          <label for="duracion" class="form-label">Duración</label>
          <input type="text" class="form-control" id="duracion">

          <label for="director" class="form-label">Director</label>
          <input type="text" class="form-control" id="director">
          
          <label for="Sinopsis" class="form-label">Sinopsis</label>
          <input type="text" class="form-control" id="Sinopsis">

          <label for="genero" class="form-label">Genero</label>
          <input type="text" class="form-control" id="genero">

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="habilitadoChecked" checked>
            <label class="form-check-label" for="habilitadoChecked">
              Habilitado
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="verGenerosElegidos" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label>Generos elegidos: <span *ngFor="let g of generesElegidos"><strong>SI</strong></span></label>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modificarFuncion" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Datos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="fechaM" class="form-label">Fecha</label>
          <input type="text" class="form-control" id="fechaM">
        
          <label for="peliculaM" class="form-label">Pelicula</label>  
            <select id="peliculaM" class="form-select">
              <option >@TituloDePelicula</option>
            </select>

          <label for="salaM" class="form-label">Sala</label>
          <select id="salaM" class="form-select">
            <option >@Sala</option>
          </select>
          
          <label for="SinopsisM" class="form-label">Sinopsis</label>
          <input type="text" class="form-control" id="SinopsisM">

          <label for="genero" class="form-label">Genero</label>
          <input type="text" class="form-control" id="genero">

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="habilitadoFuncionM" checked>
            <label class="form-check-label" for="habilitadoFuncionM">
              Habilitado
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Modificar</button>
        </div>
      </div>
    </div>
  </div>
              
<app-footer></app-footer>