<!--<mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
-->
<div>


  <div class="row">
    <div class="col-md-2">
      <label for="fechaFuncion" class="form-label">Fecha</label>
      <input type="text" class="form-control" id="fechaFuncion">
    </div>
    <div class="col-md-2">
      <label for="horaFuncion" class="form-label">Hora de Inicio</label>
      <input type="text" class="form-control" id="horaFuncion">
    </div>
    <div class="col-md-4">
      <label for="peliculaFuncion" class="form-label">Pelicula</label>
        <select id="peliculaFuncion" class="form-select">
            <option >@TituloDePelicula</option>
        </select>
    </div>
    <div class="col-md-2">
      <label for="salaFuncion" class="form-label">Sala</label>
      <select id="salaFuncion" class="form-select">
          <option >@Sala1</option>
          <option >@Sala2</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="tipoFuncion" class="form-label">Tipo</label>
      <select id="tipoFuncion" class="form-select">
          <option >@2D</option>
          <option >@3D</option>
      </select>
      </div>
    </div>
    <hr>
    <div class="row">
    <button type="button" class="btn btn-success">Agregar función</button>
    </div> 